
@font-face {
  font-family: "Made-Mirage-Thin";
  src: url(made-mirage/MADE\ Mirage\ Regular\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: "Made-Mirage-Medium";
  src: url(made-mirage/MADE\ Mirage\ Medium\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: "Made-Mirage-Bold";
  src: url(made-mirage/MADE\ Mirage\ Bold\ PERSONAL\ USE.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --bg-color: #EDE8E3;
    --text-color: #1c1c1b;
  }
  body, button, h1, h2, h3, h4, h5, h6, p, span, a,hr {
    color: var(--text-color);
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;

  }
  
  button {
    background: none;
    border: 1px solid var(--text-color);
    transition: color 0.4s ease, border-color 0.4s ease;
  }
  
  button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
body{
    background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
  font-family: "Made-Mirage-Thin";

    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 0.9;
}

 
#cursor {
  background-color: var(--text-color);
  color: var(--bg-color);  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: background-color 0.3s ease;
}

.cursor-trail {
  background-color: #000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9998; /* Trail elements appear below the main cursor */
  opacity: 0.6;
  transition: all 0.3s ease;
}


.wrapper{
    /* min-width: 700px; */
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px 20px;
}

nav{
    display: flex;
   justify-content: space-between;
   width: 100%;
   flex-wrap: wrap;
}

nav #mood-btn{
    background:none;
    padding: 15px 45px;
    border-radius: 50px;
    border: 1px solid var(--text-color);
    margin: auto;
    font-family: "Made-Mirage-Thin";
    font-size: 1rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-family: "Made-Mirage-Bold";
  }

nav #contact-btn{
    background: none;
    border:none;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

@media screen and (max-width:700px){
    nav #mood-btn{
        padding: 2px 10px;
        margin-top: 5px;
    }
    #cursor{
      display: none;
    }

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}
#heading .char {
    display: inline-block;
  }
  

.header-content{
    width: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-columns:10% 80% 10% ;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

#rotatingText{
    grid-column: span 4; /* center column */
    grid-row: 2;     /* move to second row */
 
}
.header-bottom{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}
.header-content > span:nth-child(2) {
    font-size: 5vw;
    font-weight: 600;
    text-align: center;

  }
  
#rotatingText {
    grid-column: 2; 
  grid-row: 2;    
  font-size: 1.5vw;
  font-weight: 400;
  text-align: center;
}
  
#lottie{
    font-size: 20px;
    width: 20%;
    float: right;
}

#socials ul li{
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
}
#socials ul li a{
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}
@media screen and (max-width:700px){ 
  .header-content > span:nth-child(2) {
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    font-family: "Made-Mirage-Bold";

  }
  #rotatingText {
    grid-column: 2; 
  grid-row: 2;    
  font-size: 2vw;
  font-weight: 400;
  font-family: "Made-Mirage-Bold";

  text-align: center;
}
  
    .header-bottom{
        flex-direction: column; 
        align-items: center; 
        
    }
    #lottie{
        width: 50%;
        float: none;
        margin: auto;
    }
}




/* About SECTION */

.skills {
    text-align: center;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
  }
  
  .skill-box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
  }
  
  .skill-box {
    background-color: #f3f4f6;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 120px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Make them invisible initially */
    position: absolute; /* Positioning them on top of each other */
  }
  

 

  .inner-mybag {
      height: 100vh;
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
/* overflow: hidden; */
  }
  #bag{
    font-size: 230px;
    z-index: 3;
    position: relative;
  }

  .inner-mybag .tech {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color, #fff);
    color: var(--text-color, #000);
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    z-index: 1;
  }
  
  @media screen and (max-width:700px){
    .mybag .wrapper{
      width: 100%;
    }
    #bag{
      font-size: 80px;
      z-index: 3;
      position: relative;
    }zz
  
    .inner-mybag .tech {
      padding: 1px 2px;
    }

  }
  .about-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .about-container {
    width: 60%;
  }
  
  .about-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .line {
    font-size: 1.5rem;
    opacity: 0;
    margin: 1.2rem 0;
    transform: translateY(30px); /* Ensure lines start below */

  }
  


  /* About END */


.work{
position: relative;
  }

.inner-work{
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  flex-wrap: wrap;
}
.work-right img{
  width: 100%;
  float: right;
}
.work-right{
  /* border: 1px solid var(--text-color); */
  padding: 2rem 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  width: 60%;

}
.work-right span{
  /* background-color: var(--text-color); */
  color: var(--text-color);
border: 1px solid var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: clamp(0.5rem,1vw,1rem);
  font-family: "Made-Mirage-Regular";

}

.work-left h1{
  font-size: 4rem;
  font-weight: 300;
}

.work-left{
  width: 40%;
  position: sticky;
    top: 7rem; /* matches your padding-top */
    height: fit-content;
}
@media screen and (max-width:700px){
  .work .wrapper{
    width: 100%;
  }
  .work-left h1{
    font-size: 3rem;
    font-weight: 300;
  }
  .inner-work{
    flex-direction: row;
    margin-top: 100px;
  }
  .work-left{
    position: static;
    width: 100%;
  }
  .work-right{
    width: 100%;
    text-align: center;
  }
  
.work-right span{
  /* background-color: var(--text-color); */
  color: var(--text-color);
border: 1px solid var(--text-color);
  border-radius: 5px;
}

}


.footer {
  width: 100%;
  margin-top: 100px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: relative; */
}

#thankyou {
  font-size: clamp(5rem, 15vw, 14rem);
  text-align: center;
  position: relative;
  width: 100%;
  font-family: "Made-Mirage-Medium";
  color: var(--text-color);  

}

.thanks-items {
  position: absolute;
  font-size: 1.5rem;
  font-family: "Made-Mirage-Medium";
  padding: 3px 10px;
  border: 1px solid var(--text-color);
  z-index: 22;
  background-color: var(--text-color);
  color: var(--bg-color);
  animation: thanks 2s infinite;
}
@keyframes thanks {
    0%{
      scale:1;
    }
    50%{
      /* color:rgb(219, 219, 22); */
      scale:1.1;
    }
    100%{
      /* color:rgb(219, 219, 22); */
      scale:1;
    }
}

/* Position each one uniquely */
.thanks-items:nth-child(1) { top: 20px; left: 20%; transform: rotate(-10deg); }
.thanks-items:nth-child(2) { top: 0px; right: 20%; transform: rotate(12deg); }
.thanks-items:nth-child(3) { bottom: 20px; left: 20%; transform: rotate(-8deg); }
.thanks-items:nth-child(4) { top: 10px; left: 35%; transform: rotate(5deg); }
.thanks-items:nth-child(5) { bottom: 0px; right: 13%; transform: rotate(-15deg); }
.thanks-items:nth-child(6) { top: 10px; right: 40%; transform: rotate(-15deg); }
.thanks-items:nth-child(7) { top: 180px; right: 40%; transform: rotate(-15deg); }


.footer p{
  font-size: 20px;
  font-family: "Made-Mirage-Medium";
  width: 70%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width:700px){


  .thanks-items {
    position: absolute;
    font-size: 0.9rem;
    font-family: "Made-Mirage-Medium";
    padding: 1px 5px;

  }
  .thanks-items:nth-child(1) { top: 20px; left: 20%; transform: rotate(-10deg); }
.thanks-items:nth-child(2) { top: 0px; right: 10%; transform: rotate(12deg); }
.thanks-items:nth-child(3) { bottom: 0px; left: 10%; transform: rotate(-8deg); }
.thanks-items:nth-child(4) { top: 0px; left: 35%; transform: rotate(5deg); }
.thanks-items:nth-child(5) { bottom: 0px; right: 0%; transform: rotate(-15deg); }
.thanks-items:nth-child(6) { top: -30px; right: 70%; transform: rotate(-15deg); }
.thanks-items:nth-child(7) { top: 80px; right: 40%; transform: rotate(-15deg); }


}

.footer-contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-contact button{
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  padding: 5px 15px;
  font-family: "Made-Mirage-Bold";

}

.social-link {
  position: relative;
  display: inline-block;
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
}

.social-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--text-color);
  transform: translateY(100%) scaleY(0.7);
  /* border-radius: 50% 50% 0% 0%; */
  z-index: -1;
  transition: transform 0.4s ease;
}

.social-link:hover::before {
  transform: translateY(0) scaleY(1.2);
}

.social-link:hover {
  color: var(--bg-color);
}

